:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    
}
.space-between {
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* ---------------------------DELIVERY-------------------------- */
.delivery {
    padding: 100px 0;
}
.delivery-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.delivery-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
}
.delivery-top-item i {
    color: #dddddd;
}
.delivery-top-adress {
    border: 1px solid #0DB7EA;
}
.delivery-top-adress i{
    color: #0DB7EA;
}
.delivery-content-left {
    width: 60%;
    padding-right: 12px;
}

.delivery-content-left p {
    font-family: var(--main-text-font);
    font-size: 12px;
}
.delivery-content-left label {
    font-family: var(--main-text-font);
    font-size: 12px;
    display: block;
    margin-bottom: 6px;
}
.delivery-content-left >p {
    font-weight: bold;
}
.delivery-content-left-dangnhap {
    margin-top: 12px;
}
.delivery-content-left-dangnhap i {
    font-size: 12px;
    margin-right: 12px;
}


.delivery-content-left-input-top {
    justify-content: space-between;
}
.delivery-content-left-input-top-item {
    width: calc(50% - 0px);
}
.delivery-content-left-input-top-item input {
    width: 90%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom input {
    height: 35px;
    width: 100%;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-password {
    justify-content: space-between;
    display: none;
}
.delivery-content-left-input-password-item {
    width: calc(50% - 0px);
}
.delivery-content-left-input-password-item input {
    width: 90%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-button p {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}
.delivery-content-left-button span {
    margin-right: 12px;
}
.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}

.delivery-content-left-button button {
    height: 35px;
    padding: 6px 12px;
    border: 2px solid black;
    cursor: pointer;
}
.delivery-content-left-button button:hover {
    background-color: black;
    color: #FFF;
}
.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}
.delivery-content-right table {
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}
.delivery-content-right table tr th:first-child {
    text-align: left;
}
.delivery-content-right table tr th {
   padding-bottom: 12px;
   border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child {
    text-align: right;
}
.delivery-content-right table tr td {
   padding: 6px 0;

}

.delivery-content-right table tr td:last-child {
    text-align: right;
}
.delivery-content-right table tr td:first-child {
    text-align: left;
}
.register {
    display: none;
}
.register-input:checked ~ .register {
    display: flex;
}

/* --------------------------PAYMENT-------------------------------------- */

.payment {
    padding: 100px 0;
}
.payment-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
}
.payment-top-item i {
    color: #dddddd;
}
.payment-top .delivery-top-payment {
    border: 1px solid #0DB7EA;
}
.payment-top .delivery-top-payment i{
    color: #0DB7EA;
}
.payment-content-left {
    width: 60%;
}
.payment-content-right {
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}
.payment-content-left p,label {
    font-size: 12px;
    font-family: var(--main-text-font);
}
.payment-content-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #dddddd;
}
.payment-content-right-button input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}
.payment-content-right-button button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: #fff;
    border: none;
}
.payment-content-right-mnv {
    margin-top: 20px;
}
.payment-content-right-mnv {
    height: 30px; 
    width: 100%;
    color: #75758A;
    padding-left: 12px;
}
.payment-content-right-payment {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.payment-content-right-payment button {
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
}
.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}
.payment-content-right table {
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
    color: #000000;
}
.payment-content-right table tr th:first-child {
    text-align: left;
}
.payment-content-right table tr th {
   padding-bottom: 12px;
   border-bottom: 2px solid #dddddd;
}
.payment-content-right table tr th:last-child {
    text-align: right;
}
.payment-content-right table tr td {
   padding: 6px 0;

}

.payment-content-right table tr td:last-child {
    text-align: right;
}
.payment-content-right table tr td:first-child {
    text-align: left;
}
/* ----------------------------SUCCESS---------------------- */
.success {
    padding: 100px 0 50px;
    text-align: center;
}
.success-top {
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.success-top p {
    font-size: 25px;
    font-family: var(--main-text-font);
    color: #378000;
}
.success-text {
    text-align: center;
    padding: 20px 0;
    font-family: var(--main-text-font);
    font-size: 14px;
}
.success-button {
    text-align: center;
}
.success-button button {
    height: 35px;
    padding: 0 20px;
    cursor: pointer;
}
.success-button button:first-child {
    background-color: #fff;
    border: 2px solid #378000 ;
}
.success-button button:last-child {
    background-color: black;
    color: #FFF;
    border: none;
}
.success > p {
    margin: 30px 0;
}
/* ---------------Bổ sung--------------- */
.detail {
    padding: 100px 0 50px;
}
.detail-top {
    text-align: center;
    font-size: 25px;
    font-family: var(--main-text-font);
    color: #378000;
}
.detail-text {
    display: flex;
    justify-content: space-between;
}
.detail-text-left-content {
    width: 50%;
}
.detail-text-right-content {
    width: 50%;
}
.detail-text-right {
    width: 100%;
}
.detail-text-right table {
    width: 100%;
    text-align: center;
  
}

.detail-text-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
  
    
}
.detail-text-right table p {
    font-size: 12px;
    font-family: var(--main-text-font);
    color: #333;
}
.detail-text-rightt table input {
    width: 30px;
}
.detail-text-right table span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.detail-text-right table td {
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}

.detail-text-right td:first-child img {
    width: 50px;
}
.detail-text-right td:nth-child(2) {
    max-width: 130px;
}
.detail-text-right td:nth-child(3) img {
    width: 30px;
}
.detail-text-right table td:nth-child(5) span {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-content-right-bottom {
    padding-left: 12px;
    margin-top: 30px;
    width: 40%;
    margin-bottom: 30px;
}
.detail-content-right-bottom table {
    width: 100%;
}
.detail-content-right-bottom table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.detail-content-right-bottom table td  {
    font-size: 12px;
    font-family: var(--main-text-font);
    color: #333;
    padding: 6px 0;
 
}

.detail-content-right-bottom tr:nth-child(4) td {
    border-bottom: 2px solid #dddddd;
}
.detail-content-right-bottom tr td:last-child {
    text-align: right;
}
